<h1>Wish Saver</h1>

<h3>Save Wishes</h3>

<ul>
<!--TODO write a loop in handlebars to display all of our wishes-->
  	<li>
  	   <p>ID: <!-- how do you print the wish id --></p>
       <p>Wish: <!-- how do you show the wish text? --> </p>
  	</li>
</ul>

<div>
  <form action="/" method="???">
  	<textarea type="text" name="???"></textarea>

  	<button type="submit">Submit</button>
  </form>
</div>
